@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
	height: 100%;
}

body {
	background: #a565a1;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

/*a:hover, a:focus {
	color: #fff;
}*/

/* Top Navigation Style */
.codrops-top {
	margin-top: 1em;
}

.codrops-top a {
	font-size: 0.69em;
	padding: 0 0.25em;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	float:right;
}

.codrops-top a:hover {
 color:#fff;
}

/*.codrops-top a:hover:after {
 position:relative;
 content:"Back to Homepage";
 font-size:12px;
padding-left:25px;
transition:2s ease;

}*/



.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.codrops-icon-info:before {
	content: "\e003";
}

.codrops-icon span {
	display: none;
	position: absolute;
	font-size: 0.85em;
	padding: 0.5em 0 0 0.25em;
	font-weight: 700;
}

.codrops-icon:hover span {
	display: block;
	color: #6a7b7e;
}

/* Related demos */
.related {
	font-weight: 700;
	text-align: center;
	padding: 5em 0;
	display: none;
	background: #fff;
	color: rgba(0,0,0,0.3);
}

.overview .related {
	display: block;
}

.related > a {
	border: 3px solid black;
	border-color: initial;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related > a:hover,
.related > a:focus {
	color: rgba(0,0,0,0.5);
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-device-width: 800px){
	.fs-form {
    top: 50% !important;
    left: 0px;
    width: auto;
    font-size:18px !important;
    width:100% !important;
}
.fs-form-wrap {
    font-size:18px !important;
}

.fs-fields > li .fs-radio-custom span {

    margin-right: 0% !important;
    width: 20% !important;
}


.fs-fields > li .fs-radio-custom label {

    font-size: 12px !important;
}


.fs-nav-dots {
    position: absolute;
    top:25% !important;
    right:25px !important;
    left: auto;
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
}

.fs-message-error {
    left: 0;
    top: 60% !important;
    padding: 25px !important;
    width: 100%;
    font-size: 12px !important;

}

button.fs-continue {
    margin: 25% 15px !important;
    font-size: 15px !important;
}


/*button.fs-submit, button.fs-continue {
    border: 3px solid #fff !important;
    color:#fff !important;
}*/

button.fs-continue::before {
    content: '' !important;
}

/*.fs-form-full .fs-fields > li label[data-info]::after {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 0!important;
    height:0!important;
    border:none !important;
    color: rgba(0,0,0,0.4);
    border-radius:0 !important;
    content: '' !important;
    font-size: 14px;
    font-family: Georgia, serif;
}*/

.font-size {
    font-size: 15px !important;
    top: 25px !important;
}

.fs-fields {
    top: -15px !important;
}

.fs-numbers {
    margin: 40px 15px !important;
    font-size:18px !important;
}

.fs-fields input {

    font-size: 18px !important; 

}

.fs-form-overview .fs-fields > li, .no-js .fs-form .fs-fields > li {
    margin: 25px auto !important;
    padding: 0 !important;
    border-bottom: 1px solid #00000069 !important;
}

.fs-fields input {
    padding: 10px 0 !important;
}

.fs-fields > li label.fs-field-label {
    padding: 0 !important;
    margin: 0 !important;
}

}



.pad-0 {
	padding:0 !important;
}

.mar-10{
margin: 0 10px;
}


@media screen and (max-device-width: 800px){
	.mar-10 {
    margin: 15px 0px;
}

.fs-fields input {
    background-color: transparent !important;
}



}


.send-btn{
	padding: 0.6em 1.5em;
    border: 3px solid #fff;
    border-radius: 40px;
    font-weight: 700;
    color: #fff;
}

.logo-on-form img{
    width: 15%;
    margin: 0 40px;}

 @media screen and (max-device-width: 800px){
.logo-on-form img {
    width: 50%;
    margin: 0 5px;
}
}

